<div>



	<form name="frm" ng-submit="submitForm(frm.$valid,employee)" novalidate>
		<table>
			<tr>
				<td>Employee Name</td>
				<td><input name="nm" type="text" required
					ng-model="employee.name" ng-minlength="2" ng-maxlength="10"
					ng-pattern="/^[a-zA-Z\s]*$/"> <span style="color: red;"
					ng-show="frm.nm.$error.required">Name is required</span> <span
					style="color: red;" ng-show="frm.nm.$error.minlength">Minimum
						2 characters are required</span> <span style="color: red;"
					ng-show="frm.nm.$error.maxlength">Maximum 10 characters are
						allowed</span> <span style="color: Red" ng-show="frm.nm.$error.pattern">Only
						alphabets are allowed</span></td>
			</tr>

			<tr>
				<td>Gender</td>
				<td><input type="radio" name="gender" value="1"
					ng-model="employee.gender" required>Male</input> <input
					type="radio" name="gender" value="2" ng-model="employee.gender"
					required>Female</input> <span style="color: red"
					ng-show="frm.gender.$error.required">please select gender</span></td>
			</tr>

			<tr>
				<td>Languages</td>
				<td><div ng-repeat="lang in languages">

						<input type="checkbox" value="{{lang.lid}}" name="language"
							ng-model="employee.languages[lang.lid]"
							ng-change="calculateSomeSelected(employee.languages)"
							ng-required="!someSelected" /> <label>{{lang.lname}}</label>

					</div> <span style="color: red" ng-show="frm.language.$error.required">please
						select at least one language</span></td>
			</tr>
			<tr>
				<td>Email:</td>
				<td><input type="email" name="email" ng-model="employee.email"
					required> <span style="color: red;"
					ng-show="frm.email.$error.required">Email is required.</span> <span
					style="color: red;" ng-show="frm.email.$error.email"> Not
						valid email!</span></td>
			</tr>
			<!-- Need to check for negative and floating numbers -->
			<tr>
				<td>Salary:</td>
				<td><input type="number" name="salary" ng-min="1"
					ng-model="employee.salary" required> <span
					style="color: red;" ng-show="frm.salary.$error.required">Salary
						is required.</span> <span style="color: red;"
					ng-show="frm.salary.$error.number"> Not a valid number!</span></td>
			</tr>

			<tr>
				<td>Pan ID:</td>
				<td><input type="text" name="panid" ng-model="employee.panid"
					required> <span style="color: red;"
					ng-show="frm.panid.$error.required">Pan id is required.</span></td>
			</tr>
			<tr>
				<td colspan="2"><button type="submit" class="btn btn-primary"
						ng-disabled="frm.$invalid">Submit</button></td>
			</tr>
		</table>
	</form>

</div>