<div>
	<h1>View Employees</h1>
	<div>
		<input type="button" ng-click="getAllEmployees()"
			value="Get All Employees">
	</div>

	<div>
		<form class="form-inline">
			<div class="form-group">
				<label>Search</label> <input type="text" ng-model="search"
					class="form-control" placeholder="Search">
			</div>
		</form>
	</div>
	<div>
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th ng-click="sort('id')">Id <span class="glyphicon sort-icon"
						ng-show="sortKey=='id'"
						ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
					</th>
					<th ng-click="sort('name')">Name <span
						class="glyphicon sort-icon" ng-show="sortKey=='name'"
						ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
					<th ng-click="sort('gender')">Gender <span
						class="glyphicon sort-icon" ng-show="sortKey=='gender'"
						ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
					<th ng-click="sort('email')">Email <span
						class="glyphicon sort-icon" ng-show="sortKey=='email'"
						ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
					<th ng-click="sort('salary')">Salary <span
						class="glyphicon sort-icon" ng-show="sortKey=='salary'"
						ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
					<th ng-click="sort('panid')">Pan Id <span
						class="glyphicon sort-icon" ng-show="sortKey=='panid'"
						ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
				</tr>
			</thead>
			<tbody>
				<tr
					ng-repeat="employee in employees | orderBy:sortKey:reverse | filter : search">
					<td>{{employee.id}}</td>
					<td>{{employee.name}}</td>
					<td>{{employee.gender}}</td>
					<td>{{employee.email}}</td>
					<td>{{employee.salary}}</td>
					<td>{{employee.panid}}</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>