<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>ng-hide example</title>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/myApp.js"></script>
</head>
<body ng-app="myApp">
	<div ng-controller="HideController">

		<input type="checkbox" ng-model="hideitem"/>Hide Name

		<table border="1">
			<thead>
				<tr style="font-weight: bold;">
					<td ng-hide="hideitem">name</td>
					<td>company</td>
					<td>age</td>
					<td>salary</td>
					<td>role</td>
					<td>Date of Joining</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="employee in employees">
					<td ng-hide="hideitem">{{employee.name}}</td>
					<td>{{employee.company}}</td>
					<td>{{employee.age}}</td>
					<td>{{employee.salary}}</td>
					<td>{{employee.role}}</td>
					<td>{{employee.dateOfJoining}}</td>
				</tr>
			</tbody>
		</table>


	</div>
</body>
</html>